.search-bar {
    width: 500px;
    height: 20px;
    background: var(--dark-black);
    border-radius: 10px;
    padding: 15px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    color: white;
    outline: none;
}

.search-bar::placeholder {
    color: var(--pale-white);
}

.search-bar-wrapper {
    position: relative;
}

.search-bar-icon {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 15px;
    width: 32px;
    height: 32px;
    fill: var(--pale-white);
    transition: fill 0.2s ease-in;
}

.search-bar-icon:hover {
    fill: white;
    cursor: pointer;
}