.artist-container {
    display: grid;
    grid-template-columns: 75px 400px 80px;
    justify-items: start;
    align-items: center;
    height: 55px;
}

.artist-name {
    font-size: 24px;
    margin: 0;
    line-height: 24px;
    color: #FFFFFF;
    font-weight: 500;
}

.author-button {
    border: none;
    background: none;
    padding: 0;
}

.author-button-icon {
    width: 32px;
    height: 32px;
    color: var(--pale-white);
    transition: all 0.2s ease-in;
}

.author-button-icon:hover {
    cursor: pointer;
    color: white;
}