.track-container {
    display: grid;
    grid-template-columns: 75px 400px 80px;
    justify-items: start;
    align-items: center;
    height: 55px;
}

p {
    font-size: 24px;
    margin: 0;
    line-height: 24px;
}

.track-labels {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.track-title {
    color: #FFFFFF;
    font-weight: 500;
}

.track-author {
    color: var(--pale-white);
    font-weight: 400;
}