.App {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 300px 8fr 2fr;
  grid-template-areas: "sidebar main-section ad-section";
}

.section-heading {
  font-size: 32px;
  color: white;
  font-weight: 600;
  margin: 0 0 15px;
}

.results-container {
  margin-top: 20px;
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: 85px;
  max-height: 100%;
  overflow-y: auto;
  width: 585px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 40px;
  height: calc(100% - 80px);
}

.main-section {
  height: 100vh;
}


