.sidebar-item {
    margin-bottom: 25px;
    display: grid;
    grid-template-columns: 42px 208px;
    width: 100%;
    align-items: center;
    height: 35px;
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 500;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.sidebar-item:hover {
    cursor: pointer;
}

.sidebar-item-icon {
    width: 32px;
    height: 32px;
}

.sidebar-item:after {
    content:'';
    position:absolute;
    top: 0;
    bottom:0;
    right:0;
    background: var(--primary-indigo);
    opacity: 0;
    width: 3px;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
}

.sidebar-item.active {
    color: var(--primary-indigo);
}

.active.sidebar-item:after {
    opacity: 1;
}