.sidebar {
    width: 100%;
    height: 100%;
    background: var(--dark-black);
    border-radius: 0 40px 40px 0;
}

span {
    font-weight: 400;
    font-size: 18px;
    color: var(--pale-white);
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 15px;
}