@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("./fonts/HelveticaNowDisplay-Bold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("./fonts/HelveticaNowDisplay-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("./fonts/HelveticaNowDisplay-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("./fonts/HelveticaNowDisplay-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

body {
  --primary-indigo: #6877FF;
  --dark-black: #1E1E1E;
  --black: #121212;
  --pale-white: #B1B1B1;
  margin: 0;
  font-family: "HelveticaNowDisplay", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  background: var(--black);
  overflow: hidden;
}

